#!/bin/bash
#  _____                _______________________________                  ______
#  \    \              /    /                    \     \                /     /
#   \    \            /    /                      \     \              /     /
#    \    \          /    /_________      _________\     \            /     /
#     \    \        /    /         |      |         \     \    /\    /     /
#      \    \      /    /          |      |          \     \  /  \  /     /
#       \    \    /    /           |      |           \     \/    \/     /
#        \    \  /    /            |      |            \                /
#         \    \/    /             |      |             \      /\      /
#          \        /              |      |              \    /  \    /
#           \______/               |______|               \__/    \__/
#   
#   __________________________________________________________________________                                                       
#  |                                                                          |
#  |     Nick Steventon (vtwarrior25)                                         |
#  |                                                                          | 
#  |     https://gitlab.com/vtwarrior25                                       |
#  |     https://github.com/vtwarrior25                                       |
#  |	 https://<linktothing>       		               		      |
#  |	 https://<linktothing> 	                              		      |
#  |									      |
#  |									      |
#  |									      |	
#  |                                                                          |
#  |__________________________________________________________________________|



echo ".aliases file is loaded!!"


###########################################################################################
#-----------------------------------------------------------------------------------------#
#-----Everything below this line is shell agnostic (works with at least bash and zsh)-----#
#-----------------------------------------------------------------------------------------#
###########################################################################################

## this is here because otherwise the script doesn't work!! ##
alias config='/usr/bin/git --git-dir=$HOME/dotfiles/ --work-tree=$HOME'

#----------# FUNCTIONS #----------#

# penis function (prints out ascii vector from Despicable Me)
penisfunction () {
cat ~/vector100.ansi
}


## function to push to a repo
apush () {
echo 'Enter the commit message:'
read commitMessage

config commit -am "$commitMessage"

echo 'Enter the name of the branch:'
read branch

if [ $branch == " " ]
then
	branch="master"
fi

config push githubrepo $branch && config push gitlabrepo $branch

}


# checks if the user is using a system with apt, yum, or pacman,
# then installs $1 

autoinst () {
  if [ $(whereis apt | wc -w) -gt 1 ] 
then 
	inst="apt install"
elif [ $(whereis yum | wc -w) -gt 1 ] 
then
	inst="yum install"
elif [ $(whereis pacman | wc -w) -gt 1 ] 
then
	inst="pacman -S"
fi

if [ $(whereis $1 | wc -w) -gt 1 ]
then
return 2
fi

sudo $inst $1
}

packstodl=("zoxide" "exa" "toilet" "" "" "" "" "" "" "" "" "" "" "")

installreqs () {
for prog in packstodl
do
	autoinst $prog
done
}


#----------# ALIASES #----------#
alias ..='cd ..'


### Interactive Versions of Dangerous Commands ### 
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'


### PS Aliases ###
alias psa="ps auxf"
alias psgrep="ps aux | grep -v grep | grep -i -e VSZ -e"
alias psmem='ps auxf | sort -nr -k 4'
alias pscpu='ps auxf | sort -nr -k 3'
alias pse="ps -ef"

### Curl Aliases
alias weather='curl wttr.in/05767'
alias weather2='curl v2.wttr.in/05767'


### WSL Specific Things ###
alias winhome="cd /mnt/c/Users/cosmi"
#alias gabenewell='cat "/mnt/c/Program Files (x86)/Steam/steamapps/common/Counter-Strike Global Offensive/csgo/cfg/gabenewell.cfg"'


### GNU CoreUtils Aliases ###
#alias ls='ls -lah'
#alias ll='ls -alF'
#alias la='ls -A'
#alias l='ls -CF'
#alias lg="ls -la | grep"
alias ps='ps -eux'
alias rg='grep'


### Rust Alternative Aliases ###
#<<com
alias ls='exa -lamh --group-directories-first'
alias lg='exa -lamh --group-directories-first | grep'

### Zoxide Setup Thing ###
eval "$(zoxide init bash --cmd cd)"
#com


### Apt Aliases ###
alias aptup="sudo apt update && sudo apt upgrade"
alias aptupd="sudo apt update"
alias aptupg="sudo apt upgrade" 


### Pacman Aliases (for Arch Users) ###
#alias pacup="sudo pacman -Syy && "
#alias pacupd="sudo pacman -Syy" 
#alias pacupg="sudo pacman -Syu"


### System Administration Aliases ###
alias getusrs="cat /etc/passwd | awk -F ':' '{print $1}'" # this doesn't work correctly, need to fix at some point
alias bashed="$EDITOR ~/.bashrc"
alias bashld="source ~/.bashrc"
alias aliased="$EDITOR ~/.aliases"
alias zshed="$EDITOR ~/.zshrc"
alias gh="history | grep"
alias vim="nvim"

last20 () {
tail -n 20 < $1
}

first20 () {
head -n 20 < $1
}


### Git Things ###
## Useful Git Aliases ###
alias pushhub="config push githubrepo master"
alias pushlab="config push gitlabrepo master"
alias pushboth="config push githubrepo master && config push gitlabrepo master"


### yt-dlp commands ###
alias yta-aac="yt-dlp --extract-audio --audio-format aac "
alias yta-best="yt-dlp --extract-audio --audio-format best "
alias yta-flac="yt-dlp --extract-audio --audio-format flac "
alias yta-m4a="yt-dlp --extract-audio --audio-format m4a "
alias yta-mp3="yt-dlp --extract-audio --audio-format mp3 "
alias yta-opus="yt-dlp --extract-audio --audio-format opus "
alias yta-vorbis="yt-dlp --extract-audio --audio-format vorbis "
alias yta-wav="yt-dlp --extract-audio --audio-format wav "

alias ytv-best="yt-dlp -f bestvideo+bestaudio "
alias ytdlist="yt-dlp -a ytdlplist.txt"


### Auto Install Statements ###
# autoinst exa
# installreqs

### Prompt ###
PS1="\n \[\033[0;34m\]┌─────(\[\033[1;35m\]\u\[\033[0;34m\])─────(\[\033[1;32m\]\w\[\033[0;34m\]) \n └> \[\033[1;36m\]\$ \[\033[0m\]"

### Pretty things at the end of the terminal ###
#neofetch
#toilet -t "Nice beans"
#toilet -t "Dingo Bongus"
alias toilet="toilet -f big --gay"
if [ $(whereis toilet | wc -w) -gt 1 ]
then 
	alias toilet="toilet -f big --gay"
	toilet -t "Can I draw a penis in here??"
	penisfunction
	toilet -t "I guess I can!!" 
fi
#colorscript -r

